# Spotify Client ID (safe to expose in a browser app)
VITE_SPOTIFY_CLIENT_ID=COLE_SEU_CLIENT_ID_AQUI

# Public URL of the frontend. For local development:
VITE_SPOTIFY_REDIRECT_URI=http://127.0.0.1:5019/

# Backend URL (Render, Railway etc). In local dev you can keep empty.
VITE_SERVER_URL=

# Server
PORT=5020
